<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <h3>

        <div th:if="${jobs} and ${jobs.size()}">
            <p th:text="${jobs.size()} + ' ' + 'Result(s)'"></p>
        </div>
    </h3>

    <table class="job-listing" th:each="job : ${jobs}">
        <tr th:each="choice : ${choices}" >
            <td th:text="${#strings.capitalizeWords(choice)}"></td>
            <td th:text="${job.get(choice)}"></td>
        </tr>

    </table>
    <br/>

</div>

</body>
</html>